<%- include('header'); -%>

    <body>
        <div class="box" id="heading">
            <h1>Welcome</h1>
        </div>


        <div class="features">
            <h1>Organize Your Work</h1>
            <p>Finally become focused, organized and calm using this simple To-Do-List App</p>
            <ul>
                <li><h2>Get More Tasks Done</h2></li>
                <hr>
                <li><h2>Reach Mental Clarity</h2></li>
                <hr>
                <li><h2>Make your Own Lists</h2></li>
            </ul>
        </div>

        <div class="auth-btns">
            <button onclick="location.href='/auth/google'" class="log-in-btn">
                <i class="fa-brands fa-google"></i>
                <span>Login</span>
            </button>
        </div>


        <p class="log-in-p">Sign in to make and maintain your lists</p>
    </body>